.cgreen{
    color: #8dc63f;
}
.text-black{
    color: black;
}
.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: rgb(131, 131, 131);
    color: white;
}
.bg-green{
   background-color: #f0fcda;
}
.bg-blue{
    background-color: #1b72b2;
}
.dflex{
    display: flex;
    align-content: space-between;
   

}
.text-start{
    text-align: start;
}
.text-center{
    text-align: center;
}
.font30{
    font-size: 30px;
}
.width200{
     width: 50px ;

}
.content{
    display: flex;
    justify-content:space-around ;}

    .item-center{
        align-items: center;
    }
 .imagecenter{
    display: block;
    margin: auto;
 } 
 .gap-5{
    gap: 80px;
 }  