.cgreen{
    color: #8dc63f;
}
.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: rgb(131, 131, 131);
    color: white;
}
.bg-green{
   background-color: #f0fcda;
}
.dflex{
    display: flex;
    align-content: space-between;
   

}
.text-start{
    text-align: start;
}
.text-center{
    text-align: center;
}
.font30{
    font-size: 30px;
}
.width200{
     width: 50px ;

}
.content{
    display: flex;
    justify-content:space-around ;}